div#header {
	height: 48px;
}

div#header ul {
	list-style-type: none;
	margin: 0 15px 0 0;
	padding: 0;
	float: right;
	text-align: center;
}

div#header ul li {
	display: inline;
	margin: 0 10px 0 0;
	font-family: sans-serif;
	font-size: 0.8em;
	padding: 0 4px;
}

div#header ul li img {
	height: 30px;
	width: 30px;
	position: relative;
}

div#header ul li img:first-child {
	height: 25px;
	width: 25px;
	margin-top: 5px;
}

div.hbtext {
	height: 30px;
	display: inline;
	position: relative;
	margin-bottom: 10px;
}

div#fill {
	position: relative;
	clear: both;
	display: block;
	text-align: center;
	height: 565px;
	width: 100%;
}

div.icon {
	top: 200px;
	height: 92px;
	width: 272px;
	margin: 0 auto 32px auto;
	padding-top: 140px;
}
div.icon img {
	max-height: 92px;
	max-width: 272px;
}

div#search {
	width: 400px;
	height: 273px;
	margin: 0 auto;
}

div#search input.bar {
	width: 582px;
	height: 34px;
	margin-left: -85px;
	margin-bottom: 20px;
}

div.gsb {
	display: inline-block;
}

div.iflb {
	display: inline-block;
}

div.iflb input, div.gsb input {
	margin: 10px 2px;
	padding: 10px 20px;
	border: solid 1px #fff;
	font-weight: bold;
	color: #878787;
	background-color: #f2f2f2;
}

div#footer {
	height: 38px;
	width: 100%;
	background-color: #EBEBEB;
}

div#footer ul {
	list-style-type: none;
	clear: both;
	margin: 0;
}

div#footer ul div.left {
	float: left;
	margin-top: 10px;
}

div#footer ul div.right {
	float: right;
	margin-top: 10px;
}

div#footer ul li {
	display: inline;
}

div#footer ul div.left li {
	margin-left: 10px;
}

div#footer ul div.right li {
	margin-right: 10px;
}

div.left a:link, div.right a:link {
	text-decoration: none;
	color: #b7b7b7;
	font-family: sans-serif;
	font-size: small;
}

div.left a:visited, div.right a:visited {
	text-decoration: none;
	color: #6c6c6c;
	font-family: sans-serif;
	font-size: small;
}